html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

.bg-red {
  background-color: #f44336;
}
.bg-black {
  background-color: #000000;
}
.text-white {
  color:red;
}
.button {
  border:none;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  width:30px; 
  text-decoration: none;
  display: inline-block;
  height:30px;
}
.button:hover {
  background-color: gray;
}
.flex {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
}